<div class="bg-danger">
    <div class="card text-white bg-danger " style="width: 100%;">
        <div class="card-header">
            <p style="float: left;" class="h5">Heads up! Welcome to Library</p>
            <p style="float: right;" class="h5">{{ Nowdate | date :'short' }}</p>


        </div>
    </div>
</div>

<br>
<br><br>
<div class="col-md-6 offset-3">
    <div class="card text-white bg-danger">
        <div class="card-header header-center">
            <h3 class="h3 text-center">ABOUT</h3>
        </div>
        <div class="card-body">
            <h5 style="font-style: italic;" class="card-title">Copyright Details</h5>
            <p class="card-text">
                Welcome to the Library Project 
                You can use and modify this project as required but only for learning purpose 
                Before using it for commercial purpose you are obliged to have permission of Nikhil Singh
            </p>
        </div>
    </div>
</div>
<br><br><br>